body {
    background-color: aqua;
}

.takemeback {
    position: relative; top: 380px; left: 530px;
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: chartreuse;
    display: flex;
    position: relative;
    width: 273px;
    height: 220px;
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 146px;
    flex-wrap: wrap;
    align-content: flex-start;   
}

.circle1 {
    display: flex;
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;   
}

section {
    display: inline-block
}

.container2 {
    background-color: chartreuse;
    display: flex;
    position: absolute;
    width: 273px;
    height: 220px;
    border-radius: 8px;
    margin-left: 20px;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: flex-end; 
}

.circle2 {
    display: flex;
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

section {
    display: inline-block
}

.container3 {
    background-color: chartreuse;
    display: flex;
    position: absolute;
    width: 273px;
    height: 220px;
    border-radius: 8px;
    margin-left: 320px;
    flex-wrap: wrap;   
    gap: 40px 20px;
}

.circle3 {
    display: flex;
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}